:root {
    --font-dm: 'DM Sans';
    --font-as: 'Allerta Stencil';
    --color-dark: #000;
    --color-gray: #707070;
    --color-light-gray: #D8D8D8;
    --color-brown: #A18A68;
}

body {
    font-family: var(--font-dm), sans-serif;
    font-size: 16px;
    color: var(--color-gray);
}
h1 {
    color: var(--color-dark);
    font-size: 33px;
    font-weight: 500;
}